.like-container {
    position:relative;
}

.like-container .like_button iframe {
    position:absolute;
    top:0; right:0; bottom:0; left:0;
    z-index:10;
    opacity:0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.like-container .custom-like {
    position:relative;
    z-index:1;
}